# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg
*.egg-info/
dist/
build/
*.wheel
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.pytest_cache/
.pytest_cache/
.tox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
*.code-workspace

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.log
*.lof
*.lot
*.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdfsync
*.synctex
*.synctex(busy)
*.dvi
*.ps
*.pdf
*.bbl
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.loa
*.lol
*.mw
*.tdo
*.thm
*.upa
*.upb
*.run.xml
*.bcf
*.blx.bib
*.blx.blg
*.blx.aux
*.blx.bcf
*.blx.run.xml
*.blx.bcf
*.blx.blg
*.blx.aux
*.blx.run.xml
*.blx.bcf
*.blx.blg
*.blx.aux
*.blx.run.xml

# Exclude rapport.pdf
!rapport.pdf